<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="assets/images/logo-keyko.png" alt="Auto Servicio keyko Logo" height="60" class="mb-3">
                <p class="small text-muted">© 2025 Auto Servicio keyko. Todos los derechos reservados.</p>
                <div>
                    <a href="https://www.facebook.com/people/Auto-servicio-Keyko/100063565723026/"
                        class="text-white me-3 fs-4" target="_blank"> <i class="fab fa-facebook"></i></a>

                </div>
            </div>

            <div class="col-lg-2 col-md-6 mb-4">
                <h5 class="mb-3 fw-bold">Navegación</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#servicios" class="text-white text-decoration-none">Servicios</a></li>
                    <li class="mb-2"><a href="#precios" class="text-white text-decoration-none">Paquetes</a></li>
                    <li class="mb-2"><a href="#nosotros" class="text-white text-decoration-none">Nosotros</a></li>
                    <li class="mb-2"><a href="#citas" class="text-white text-decoration-none">Agendar</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3 fw-bold">Contacto</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fab fa-whatsapp me-2"></i> <a href="tel:5520022666"
                            class="text-white text-decoration-none">55 2002 2666</a></li>
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> <a href="mailto:autoserviciokeyko@gmail.com"
                            class="text-white text-decoration-none">autoserviciokeyko&#64;gmail.com</a></li>
                    <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> <a
                            class="text-white text-decoration-none"
                            href="https://www.google.com/maps/place/Auto+Servicio+Keyko/@19.4135329,-99.010771,12z/data=!4m7!3m6!1s0x85d1e33500ee2353:0x6edf3a13f21bbb4f!8m2!3d19.4134493!4d-99.0108184!15sChJhdXRvc2VydmljaW8ga2V5a29aFCISYXV0b3NlcnZpY2lvIGtleWtvkgEYcHJlc3N1cmVfd2FzaGluZ19zZXJ2aWNlmgEjQ2haRFNVaE5NRzluUzBWSlEwRm5TVU10T0dKaVRXTm5FQUXgAQD6AQQIABA-!16s%2Fg%2F12hyydl9y?entry=tts&g_ep=EgoyMDI1MTAyMC4wIPu8ASoASAFQAw%3D%3D&skid=a09f81cf-3c27-4f84-84be-eb16947ed246"
                            target="_blank">Av.
                            Dr. Gustavo Baz 83, Benito Juárez, 57000 Cdad. Nezahualcóyotl, Méx.</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3 fw-bold">Horarios</h5>
                <ul class="list-unstyled">
                    <li>Lunes a Sabado: 8:00 AM - 6:00 PM</li>
                    <li>Domingo: 8:00 AM - 5:00 PM</li>

                </ul>
            </div>
        </div>
    </div>
</footer>