<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">

        <a class="navbar-brand" href="#">
            <div class="logo-container">
                <img src="assets/images/logo-keyko.png" alt="Auto Servicio Keyko Logo" class="img-fluid">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="#servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#precios">Paquetes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#nosotros">Quiénes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonios">Opiniones</a>
                </li>
                <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
                    <a class="btn btn-primary" href="#citas">Agendar Cita Ahora</a>
                </li>
            </ul>
        </div>
    </div>
</nav>