<section class="hero-section text-white text-center d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-3 fw-bold hero-title">
                    Auto Servicio Keyko
                </h1>

                <p class="lead my-4">
                    Devolvemos el brillo y la protección a tu vehículo con un servicio de confianza, eficiente y de
                    calidad superior.
                    Siente el orgullo de conducir un auto impecable.
                </p>

                <a href="#citas" class="btn btn-primary btn-lg px-5 py-3">
                    ➡️ Agendar mi Cita Ahora
                </a>
            </div>
        </div>
    </div>
</section>