<section class="hero-section text-white text-center d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-3 fw-bold hero-title">
                    Auto Servicio Keyko
                </h1>

                <p class="lead my-4">
                    En Auto Servicio Keyko, sabemos que la verdadera salud de tu vehículo reside en
                    los componentes que no siempre ves.
                    Antes del brillo, priorizamos la protección. Nos especializamos en la limpieza y mantenimiento
                    profundo
                    de las partes
                    vitales de tu auto, asegurando su rendimiento, seguridad y longevidad.
                </p>

                <a href="#citas" class="btn btn-primary btn-lg px-5 py-3">
                    ➡️ Agendar mi Cita Ahora
                </a>
            </div>
        </div>
    </div>
</section>